.zoom {
    .parent {
        background: white;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parent[data-isopen="true"] {
        width: 400px;
        height: 200px;
    }

    .child {
        width: 40px;
        height: 40px;
        background: #f107a3;
        border-radius: 50%;
    }
}